body {
  background-color: white;
  font-family: "Veranda", "Helvetica", "Arial", sans-serif;
}

a,
a:visited {
  color: blue;
  text-decoration: none;
}

.error {
  color: red;
}

.warning {
  color: #e56717;
}

.success {
  color: green;
}

label,
div.label {
  display: block;
  font-weight: bold;
}

form input,
form button {
  display: block;
  margin-bottom: 0.6em;
}

input[type=button],
input[type=submit],
button {
  margin-top: 1em;
}

a#logout {
  float: right;
}

div#login-links {
  margin-top: 1.6em;
}

.init-hidden {
  display: none;
}

div.fieldWithErrors label {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: red;
}

ul#places {
  display: block;
}

li.place {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  cursor: crosshair;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.place-field-container {
  display: inline;
}

input.place {
  background-color: #EEEEEE;
}

input.place:focus {
  background-color: #AADDFF;
}
