a,
a:visited {
  font-weight: bold;
  color: blue;
  text-decoration: none;
}

.error {
    color: red;
}

.warning {
    color: #e56717;
}

.success {
    color: green;
}

label,
div.label {
  display: block;
  font-weight: bold;
}

form input,
form button {
  display: block;
}

input[type=button],
input[type=submit],
button {
  margin-top: 1em;
}

a.logout {
  float: right;
}
