body {
  background-color: white;
  font-family: "Georgia", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 12pt;
}

a,
a:visited {
  color: blue;
  text-decoration: none;
}

.error {
  color: red;
}

.warning {
  color: #e56717;
}

.success {
  color: green;
}

table td {
  padding-right: 1em;
}

label,
div.label {
  display: block;
  font-size: 10pt;
  font-weight: bold;
}

form input,
form button {
  display: block;
  margin-bottom: 0.6em;
}

input[type=button],
input[type=submit],
button {
  margin-top: 1em;
}

#header {
  float: right;
}

#header span {
  margin-right: 2em;
}

div#login-links {
  margin-top: 1.6em;
}

div.back {
  margin: 0.8em;
}

div.fieldWithErrors label {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: red;
}

ul#places {
  display: block;
}

li.place {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.place-field-container {
  display: inline;
}

input.place {
  background-color: #EEEEEE;
}

input.place:focus {
  background-color: #AADDFF;
}

table#places-manager td:first-child {
  padding-right: 2.6em;
}

a.delete {
  color: red;
  font-weight: bold;
}
