<h2>Mikäs sivu tämä oikein on?</h2>
<p>
  kiire.fi on tehokäyttäjän kirjanmerkkisivu
  <a href="http://www.reittiopas.fi">Reittiopas</a>-palvelulle.
  Kokeile <%= link_to "demoa", user_places_path(:username => 'demo') %>.
</p>

<h2>Kenelle tämä on tarkoitettu?</h2>
<p>
  Sivu on optimoitu niille, joilla on joukko vakiopaikkoja,
  joiden välillä liikutaan usein. Reitin kahden paikan välillä
  voi hakea kolmella klikkauksella, mikä on paljon
  osoitteiden muistelemista ja naputtelemista kätevämpää, varsinkin kännykällä.
</p>
<p>
  Omiin paikkoihin pääsee käsiksi nopeasti mistä tahansa
  käyttäjäkohtaisen osoitteen <tt>tunnus.kiire.fi</tt> kautta.
</p>

<h2>Eikös reittioppaas jo osaa muistaa paikkoja?</h2>
<p>
  kiire.fi tallentaa käyttäjien paikat palvelimelle evästeiden sijaan.
  Näin paikat ovat aina käytettävissä ja ajan tasalla missä vain,
  eivätkä ne katoa vahingossa, kuten evästeiden kanssa voi usein käydä.
</p>
<p>
  Reittioppaassa on myös hieman keskeneräiseltä vaikuttava
  "omat lähdöt"-palvelu, mutta se on tarkoitettu pysäkkien
  aikataulujen seuraamiseen eikä se toteuta samoja käyttötapauksia
  kuin kiire.fi.
</p>
<p>
  kiire.fi pidetään mahdollisimman kevyenä ja yksinkertaisena,
  jotta sivu latautuisi aina nopeasti ja sitä olisi mukava
  käyttää myös mobiililaitteilla.
</p>

<h2>Tietoturvasta</h2>
<p>
  Palvelu olisi paljon vähemmän hyödyllinen,
  jos siihen täytyisi aina kirjautua ennen käyttöä.
  Siksi palvelua voi halutessaan käyttää ilman kirjautumista.
  Asetusten muuttamiseen tarvitaan silti aina kirjautuminen.
</p>

<h2>Tulevia parannuksia</h2>
<p>
  Seuraavat parannukset ovat käyneet mielessä.
  Osa niistä toteutunee joskus.
</p>
<ul>
  <li><span class="strike">Demotunnukset</span></li>
  <li><span class="strike">Tuki reittioppaan mobiiliversiolle</span></li>
  <li>Rivinvaihtojen tai kategorioiden lisääminen</li>
  <li>Käyttäjätunnuksen ja/tai kirjautumisen muistaminen evästeellä</li>
  <li><span class="strike">Paikkojen uudelleenjärjestäminen</span></li>
  <li><span class="strike">Sivulatauksien nopeuttaminen entisestään (välimuistitus, mod_passenger, ...)</span></li>
  <li>Käyttöliittymäparannuksia mm. asetuksiin</li>
  <li>Monikielisyys</li>
  <li>Ulkoasun parantelua, kunhan sitä ei tehdä nopeuden kustannuksella</li>
</ul>

<h2>Kuka tämän teki ja miksi?</h2>
<p>
  Olen Martin Pärtel, tietojenkäsittelytieteen opiskelija,
  ja tein tämän huvin ja harjoituksen vuoksi omaa ja kavereiden käyttöä varten.
  Otan mieluusti vastaan kommentteja, parannusehdotuksia yms,
  joita voi lähettää osoitteeseen <tt>admin ät kiire.fi</tt>
</p>

<h2>Teknistä</h2>
<p>
  Palvelu on toteutettu Ruby on Railsilla ja SQLite-tietokannalla,
  ja se sijaitsee <span class="strike">Nodetan</span>
  <a href="http://www.neutech.fi/">Neutechin webhotellissa</a>.
</p>

<p>
  <%= link_to "Takaisin alkuun", root_path %>
</p>